page-create-user-page {

}
.item.item-trns {
	border-color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0);
	color: white; 
}

.home-background {
  background: url(build/img/zar.png) no-repeat center center fixed;
  background-size: cover;
}